@using AgendadorCitasOnline.Models
@model AgendadorCitasOnline.Models.Cita

<!-- Bloque para mostrar el mensaje de éxito -->
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success mt-4">
        @ViewBag.SuccessMessage
    </div>
}

<!-- ViewBag es un contenedor dinámico que permite a los controladores pasar datos a las vistas.-->

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger mt-4">
        @ViewBag.ErrorMessage
    </div>
}

<h1>Ver Cita</h1>

<!-- Formulario para buscar una cita por ID -->
<form asp-action="Cita" method="post">
    <!-- Campo para ingresar el ID de la cita -->
    <label for="citaId">ID de la Cita:</label>
    <input type="text" name="citaID" id="citaID" required />
    <!-- Botón para enviar el formulario y buscar la cita -->
    <button class="btn btn-primary" type="submit">Buscar Cita</button>
</form>